# preprocessing

#1.Data cleaning(replace missing values)
#2.Feature Engineering (convert all data in numerical format)

In [6]:
from warnings import filterwarnings

filterwarnings("ignore")

# Step 1- Data ingestion

In [8]:
import pandas as pd

df = pd.read_csv("Cars93.csv", na_values=["", "NA"], keep_default_na=False)
df.head()

   id Manufacturer    Model  ... Weight   Origin           Make
0   1        Acura  Integra  ...   2705  non-USA  Acura Integra
1   2        Acura   Legend  ...   3560  non-USA   Acura Legend
2   3         Audi       90  ...   3375  non-USA        Audi 90
3   4         Audi      100  ...   3405  non-USA       Audi 100
4   5          BMW     535i  ...   3640  non-USA       BMW 535i

[5 rows x 28 columns]

# Target feature - weight

# step2 - perform basic data quality checks

In [9]:
df.shape

(94, 28)

In [10]:
# check for duplicates
df.duplicated().sum()

np.int64(1)

In [11]:
# removed duplicates
df = df.drop_duplicates(keep="first").reset_index(drop=True)
df.shape

(93, 28)

In [7]:
# check for missing values in data
m = df.isna().sum()
m

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                4
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [12]:
m[m > 0]

NameError: name 'm' is not defined

In [9]:
df.nunique()

id                    93
Manufacturer          32
Model                 93
Type                   6
Min.Price             79
Price                 81
Max.Price             79
MPG.city              21
MPG.highway           22
AirBags                3
DriveTrain             3
Cylinders              6
EngineSize            26
Horsepower            57
RPM                   24
Rev.per.mile          78
Man.trans.avail        2
Fuel.tank.capacity    38
Passengers             6
Length                51
Wheelbase             27
Width                 16
Turn.circle           14
Rear.seat.room        24
Luggage.room          16
Weight                81
Origin                 2
Make                  93
dtype: int64

# step - seperate x and y (weight)

In [13]:
x = df.drop(columns=["id", "Weight"])
x.head()

  Manufacturer    Model     Type  ...  Luggage.room   Origin           Make
0        Acura  Integra    Small  ...          11.0  non-USA  Acura Integra
1        Acura   Legend  Midsize  ...          15.0  non-USA   Acura Legend
2         Audi       90  Compact  ...          14.0  non-USA        Audi 90
3         Audi      100  Midsize  ...          17.0  non-USA       Audi 100
4          BMW     535i  Midsize  ...          13.0  non-USA       BMW 535i

[5 rows x 26 columns]

In [14]:
Y = df["Weight"]
Y.head()

0    2705
1    3560
2    3375
3    3405
4    3640
Name: Weight, dtype: int64

# Step 4 - Data cleaning

In [15]:
x.dtypes

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Origin                 object
Make                   object
dtype: object

In [16]:
df["Cylinders"].unique()

array(['4', '6', '8', '3', 'rotary', '5'], dtype=object)

In [17]:
df[df["Cylinders"] == "rotary"]

    id Manufacturer Model    Type  ...  Luggage.room  Weight   Origin        Make
56  57        Mazda  RX-7  Sporty  ...           NaN    2895  non-USA  Mazda RX-7

[1 rows x 28 columns]

In [18]:
cat_cols = x.select_dtypes(include="object").columns.tolist()
print(cat_cols)

['Manufacturer', 'Model', 'Type', 'AirBags', 'DriveTrain', 'Cylinders', 'Man.trans.avail', 'Origin', 'Make']

In [19]:
num_cols = x.select_dtypes(include="number").columns.tolist()
print(num_cols)

['Min.Price', 'Price', 'Max.Price', 'MPG.city', 'MPG.highway', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room']

# Check for cardinality

In [20]:
cat_unique = x[cat_cols].nunique()
cat_unique

Manufacturer       32
Model              93
Type                6
AirBags             3
DriveTrain          3
Cylinders           6
Man.trans.avail     2
Origin              2
Make               93
dtype: int64

In [21]:
df["Manufacturer"].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrylser', 'Chrysler', 'Dodge', 'Eagle', 'Ford', 'Geo', 'Honda',
       'Hyundai', 'Infiniti', 'Lexus', 'Lincoln', 'Mazda',
       'Mercedes-Benz', 'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile',
       'Plymouth', 'Pontiac', 'Saab', 'Saturn', 'Subaru', 'Suzuki',
       'Toyota', 'Volkswagen', 'Volvo'], dtype=object)

In [22]:
df["Model"].unique()

array(['Integra', 'Legend', '90', '100', '535i', 'Century', 'LeSabre',
       'Roadmaster', 'Riviera', 'DeVille', 'Seville', 'Cavalier',
       'Corsica', 'Camaro', 'Lumina', 'Lumina_APV', 'Astro', 'Caprice',
       'Corvette', 'Concorde', 'LeBaron', 'Imperial', 'Colt', 'Shadow',
       'Spirit', 'Caravan', 'Dynasty', 'Stealth', 'Summit', 'Vision',
       'Festiva', 'Escort', 'Tempo', 'Mustang', 'Probe', 'Aerostar',
       'Taurus', 'Crown_Victoria', 'Metro', 'Storm', 'Prelude', 'Civic',
       'Accord', 'Excel', 'Elantra', 'Scoupe', 'Sonata', 'Q45', 'ES300',
       'SC300', 'Continental', 'Town_Car', '323', 'Protege', '626', 'MPV',
       'RX-7', '190E', '300E', 'Capri', 'Cougar', 'Mirage', 'Diamante',
       'Sentra', 'Altima', 'Quest', 'Maxima', 'Achieva', 'Cutlass_Ciera',
       'Silhouette', 'Eighty-Eight', 'Laser', 'LeMans', 'Sunbird',
       'Firebird', 'Grand_Prix', 'Bonneville', '900', 'SL', 'Justy',
       'Loyale', 'Legacy', 'Swift', 'Tercel', 'Celica', 'Camry', 'Previa',
       'Fox', 'Eurovan', 'Passat', 'Corrado', '240', '850'], dtype=object)

In [22]:
df["Model"].nunique()

93

In [23]:
df["Model"].nunique() / len(df)

1.0

In [24]:
len(df)

93

In [25]:
cardinality = cat_unique / len(df)
cardinality

Manufacturer       0.344086
Model              1.000000
Type               0.064516
AirBags            0.032258
DriveTrain         0.032258
Cylinders          0.064516
Man.trans.avail    0.021505
Origin             0.021505
Make               1.000000
dtype: float64

In [26]:
high_card_cols = cardinality[cardinality >= 0.9].index.tolist()
high_card_cols

['Model', 'Make']

In [27]:
# Drop high cardinality columns
X = x.drop(columns=high_card_cols)
X.head()

  Manufacturer     Type  Min.Price  ...  Rear.seat.room  Luggage.room   Origin
0        Acura    Small       12.9  ...            26.5          11.0  non-USA
1        Acura  Midsize       29.2  ...            30.0          15.0  non-USA
2         Audi  Compact       25.9  ...            28.0          14.0  non-USA
3         Audi  Midsize       30.8  ...            31.0          17.0  non-USA
4          BMW  Midsize       23.7  ...            27.0          13.0  non-USA

[5 rows x 24 columns]

In [28]:
cat_cols

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [29]:
for i in high_card_cols:
    cat_cols.remove(i)

In [30]:
cat_cols

['Manufacturer',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin']

In [33]:
num_cols

['Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room']

# Replace missing values
#1.categorical -> replace by mode (most frequently occuring value)
#2.numerical -> replace by mean or median

In [31]:
X["AirBags"].value_counts()

AirBags
Driver only           42
None                  33
Driver & Passenger    14
Name: count, dtype: int64

In [32]:
mode = X["AirBags"].mode()[0]
mode

'Driver only'

In [33]:
X["AirBags"].isna().sum()

np.int64(4)

In [34]:
# fillna function to replace missing values
X["AirBags"] = X["AirBags"].fillna(mode)

In [35]:
X["AirBags"].isna().sum()

np.int64(0)

In [36]:
X.head()

  Manufacturer     Type  Min.Price  ...  Rear.seat.room  Luggage.room   Origin
0        Acura    Small       12.9  ...            26.5          11.0  non-USA
1        Acura  Midsize       29.2  ...            30.0          15.0  non-USA
2         Audi  Compact       25.9  ...            28.0          14.0  non-USA
3         Audi  Midsize       30.8  ...            31.0          17.0  non-USA
4          BMW  Midsize       23.7  ...            27.0          13.0  non-USA

[5 rows x 24 columns]

In [37]:
X["Luggage.room"].mean()

np.float64(13.890243902439025)

In [38]:
X["Luggage.room"].median()

np.float64(14.0)

In [39]:
def replacer(df: pd.DataFrame):
    cat_cols = df.select_dtypes(include="object").columns.tolist()

    for col in df.columns:
        if col in cat_cols:
            mode = df[col].mode()[0]
            df[col] = df[col].fillna(mode)
        else:
            mean = df[col].mean()
            df[col] = df[col].fillna(mean)

    print("Missing values replaced in dataframe")

In [43]:
x.isna().sum()

Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                4
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Origin                 0
Make                   0
dtype: int64

In [40]:
replacer(x)

Missing values replaced in dataframe

In [45]:
x.isna().sum()

Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Origin                0
Make                  0
dtype: int64

In [41]:
x.head()

  Manufacturer    Model     Type  ...  Luggage.room   Origin           Make
0        Acura  Integra    Small  ...          11.0  non-USA  Acura Integra
1        Acura   Legend  Midsize  ...          15.0  non-USA   Acura Legend
2         Audi       90  Compact  ...          14.0  non-USA        Audi 90
3         Audi      100  Midsize  ...          17.0  non-USA       Audi 100
4          BMW     535i  Midsize  ...          13.0  non-USA       BMW 535i

[5 rows x 26 columns]

# Step 5 - Apply Feature Engineering

#Catgorical features -> OneHotEncoding

In [42]:
x_cat = X[cat_cols]
x_num = x[num_cols]

In [59]:
x_cat

,Manufacturer,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin
0,Acura,Small,None,Front,4,Yes,non-USA
1,Acura,Midsize,Driver & Passenger,Front,6,Yes,non-USA
2,Audi,Compact,Driver only,Front,6,Yes,non-USA
3,Audi,Midsize,Driver only,Front,6,Yes,non-USA
4,BMW,Midsize,Driver only,Rear,4,Yes,non-USA
...,...,...,...,...,...,...,...
88,Volkswagen,Van,None,Front,5,Yes,non-USA
89,Volkswagen,Compact,None,Front,4,Yes,non-USA
90,Volkswagen,Sporty,None,Front,6,Yes,non-USA
91,Volvo,Compact,Driver only,Rear,4,Yes,non-USA
92,Volvo,Midsize,Driver & Passenger,Front,5,Yes,non-USA

In [43]:
x_num

    Min.Price  Price  Max.Price  ...  Turn.circle  Rear.seat.room  Luggage.room
0        12.9   15.9       18.8  ...           37            26.5     11.000000
1        29.2   33.9       38.7  ...           38            30.0     15.000000
2        25.9   29.1       32.3  ...           37            28.0     14.000000
3        30.8   37.7       44.6  ...           37            31.0     17.000000
4        23.7   30.0       36.2  ...           39            27.0     13.000000
..        ...    ...        ...  ...          ...             ...           ...
88       16.6   19.7       22.7  ...           38            34.0     13.890244
89       17.6   20.0       22.4  ...           35            31.5     14.000000
90       22.9   23.3       23.7  ...           36            26.0     15.000000
91       21.8   22.7       23.5  ...           37            29.5     14.000000
92       24.8   26.7       28.5  ...           38            30.0     15.000000

[93 rows x 17 columns]

In [44]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(
    handle_unknown="ignore", sparse_output=False, drop="first"
).set_output(transform="pandas")

x_cat_pre = ohe.fit_transform(x_cat)
x_cat_pre

    Manufacturer_Audi  Manufacturer_BMW  ...  Man.trans.avail_Yes  Origin_non-USA
0                 0.0               0.0  ...                  1.0             1.0
1                 0.0               0.0  ...                  1.0             1.0
2                 1.0               0.0  ...                  1.0             1.0
3                 1.0               0.0  ...                  1.0             1.0
4                 0.0               1.0  ...                  1.0             1.0
..                ...               ...  ...                  ...             ...
88                0.0               0.0  ...                  1.0             1.0
89                0.0               0.0  ...                  1.0             1.0
90                0.0               0.0  ...                  1.0             1.0
91                0.0               0.0  ...                  1.0             1.0
92                0.0               0.0  ...                  1.0             1.0

[93 rows x 47 columns]

In [46]:
x_cat_pre

    Manufacturer_Audi  Manufacturer_BMW  ...  Man.trans.avail_Yes  Origin_non-USA
0                 0.0               0.0  ...                  1.0             1.0
1                 0.0               0.0  ...                  1.0             1.0
2                 1.0               0.0  ...                  1.0             1.0
3                 1.0               0.0  ...                  1.0             1.0
4                 0.0               1.0  ...                  1.0             1.0
..                ...               ...  ...                  ...             ...
88                0.0               0.0  ...                  1.0             1.0
89                0.0               0.0  ...                  1.0             1.0
90                0.0               0.0  ...                  1.0             1.0
91                0.0               0.0  ...                  1.0             1.0
92                0.0               0.0  ...                  1.0             1.0

[93 rows x 47 columns]

# 2. Apply StandardScaler

In [47]:
x_num

    Min.Price  Price  Max.Price  ...  Turn.circle  Rear.seat.room  Luggage.room
0        12.9   15.9       18.8  ...           37            26.5     11.000000
1        29.2   33.9       38.7  ...           38            30.0     15.000000
2        25.9   29.1       32.3  ...           37            28.0     14.000000
3        30.8   37.7       44.6  ...           37            31.0     17.000000
4        23.7   30.0       36.2  ...           39            27.0     13.000000
..        ...    ...        ...  ...          ...             ...           ...
88       16.6   19.7       22.7  ...           38            34.0     13.890244
89       17.6   20.0       22.4  ...           35            31.5     14.000000
90       22.9   23.3       23.7  ...           36            26.0     15.000000
91       21.8   22.7       23.5  ...           37            29.5     14.000000
92       24.8   26.7       28.5  ...           38            30.0     15.000000

[93 rows x 17 columns]

In [48]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().set_output(transform="pandas")
x_num_pre = scaler.fit_transform(x_num)
x_num_pre.head()

   Min.Price     Price  Max.Price  ...  Turn.circle  Rear.seat.room  Luggage.room
0  -0.485787 -0.375720  -0.282465  ...    -0.610436       -0.452197     -1.033015
1   1.388017  1.497844   1.531409  ...    -0.298510        0.738090      0.396643
2   1.008658  0.998227   0.948052  ...    -0.610436        0.057926      0.039228
3   1.571949  1.893374   2.069191  ...    -0.610436        1.078172      1.111472
4   0.755752  1.091905   1.303535  ...     0.013416       -0.282156     -0.318186

[5 rows x 17 columns]

# Combine categorical and numerical columns

In [49]:
x_pre = x_num_pre.join(x_cat_pre)
x_pre.head()

   Min.Price     Price  ...  Man.trans.avail_Yes  Origin_non-USA
0  -0.485787 -0.375720  ...                  1.0             1.0
1   1.388017  1.497844  ...                  1.0             1.0
2   1.008658  0.998227  ...                  1.0             1.0
3   1.571949  1.893374  ...                  1.0             1.0
4   0.755752  1.091905  ...                  1.0             1.0

[5 rows x 64 columns]

# Data preprocessing complete

# Step 5 - Train Test Split

# 80 % - Train data, 20% as Test Data

#Train data used for model training
#Test data used for model evaluation

In [51]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(
    x_pre, Y, test_size=0.2, random_state=21
)

In [52]:
xtrain.head()

    Min.Price     Price  ...  Man.trans.avail_Yes  Origin_non-USA
57   1.365026  1.289670  ...                  1.0             1.0
31  -1.003095 -0.979424  ...                  1.0             0.0
62   0.606307  0.685966  ...                  0.0             1.0
29   0.043016 -0.021825  ...                  0.0             0.0
51   1.985795  1.726835  ...                  0.0             0.0

[5 rows x 64 columns]

In [53]:
ytrain.head()

57    2920
31    2530
62    3730
29    3490
51    4055
Name: Weight, dtype: int64

In [54]:
xtest.head()

    Min.Price     Price  ...  Man.trans.avail_Yes  Origin_non-USA
23  -1.003095 -0.854520  ...                  1.0             0.0
86   0.203957  0.332071  ...                  1.0             1.0
91   0.537333  0.332071  ...                  1.0             1.0
21   1.422504  1.039862  ...                  0.0             0.0
17   0.100495 -0.073868  ...                  0.0             0.0

[5 rows x 64 columns]

In [55]:
xtrain.shape

(74, 64)

In [56]:
xtest.shape

(19, 64)

# step 6 - Model buliding

In [57]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [58]:
model.intercept_

np.float64(3523.015378962659)

In [59]:
model.coef_

array([ 7.12212393e+03, -1.54355635e+04,  8.86749716e+03,  5.00676137e+00,
       -1.96248452e+02, -1.72195953e+02,  2.18990416e+02, -1.01240272e+02,
       -9.82918419e+01, -7.15652573e+01, -1.87890179e+01,  1.23960452e+02,
        1.40245110e+02,  1.46630116e+02, -2.79198764e+01, -4.96161337e+01,
        1.23076470e+02, -2.00775222e+01,  4.04828046e+02, -1.98024742e+02,
       -6.92192730e+01,  1.69794756e+01,  0.00000000e+00, -1.23142521e+01,
       -3.38587130e+01, -2.33198096e+01,  1.19980040e+00,  3.27801322e+02,
        5.42679913e+01,  1.21813043e+02, -1.28351110e+02,  1.24625901e+02,
       -2.15006137e+02, -9.76514709e+01, -7.09903501e+02,  4.29717366e+00,
       -3.43057874e+01, -4.40566494e+01, -1.64937780e+02,  4.79656697e+02,
        6.99422932e+01, -4.54364613e+02,  1.36087964e+01,  1.19319453e+01,
        3.41060513e-13, -8.92584268e+01,  1.12873235e+02,  5.13064123e+01,
       -2.60204740e+02, -2.25080841e+02,  3.34158069e+01, -2.17820097e+02,
        2.23174657e+02,  1.51642915e+02,  4.18815151e+01,  4.01382510e+01,
        9.14049031e+01, -3.52399725e+02, -1.86573692e+02, -5.04389436e+02,
       -8.93370279e+02, -1.14173153e+03, -1.65286524e+02,  1.30996471e+02])

In [60]:
xtrain.columns

Index(['Min.Price', 'Price', 'Max.Price', 'MPG.city', 'MPG.highway',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Fuel.tank.capacity',
       'Passengers', 'Length', 'Wheelbase', 'Width', 'Turn.circle',
       'Rear.seat.room', 'Luggage.room', 'Manufacturer_Audi',
       'Manufacturer_BMW', 'Manufacturer_Buick', 'Manufacturer_Cadillac',
       'Manufacturer_Chevrolet', 'Manufacturer_Chrylser',
       'Manufacturer_Chrysler', 'Manufacturer_Dodge', 'Manufacturer_Eagle',
       'Manufacturer_Ford', 'Manufacturer_Geo', 'Manufacturer_Honda',
       'Manufacturer_Hyundai', 'Manufacturer_Infiniti', 'Manufacturer_Lexus',
       'Manufacturer_Lincoln', 'Manufacturer_Mazda',
       'Manufacturer_Mercedes-Benz', 'Manufacturer_Mercury',
       'Manufacturer_Mitsubishi', 'Manufacturer_Nissan',
       'Manufacturer_Oldsmobile', 'Manufacturer_Plymouth',
       'Manufacturer_Pontiac', 'Manufacturer_Saab', 'Manufacturer_Saturn',
       'Manufacturer_Subaru', 'Manufacturer_Suzuki', 'Manufacturer_Toyota',
       'Manufacturer_Volkswagen', 'Manufacturer_Volvo', 'Type_Large',
       'Type_Midsize', 'Type_Small', 'Type_Sporty', 'Type_Van',
       'AirBags_Driver only', 'AirBags_None', 'DriveTrain_Front',
       'DriveTrain_Rear', 'Cylinders_4', 'Cylinders_5', 'Cylinders_6',
       'Cylinders_8', 'Cylinders_rotary', 'Man.trans.avail_Yes',
       'Origin_non-USA'],
      dtype='object')

In [62]:
coefs = pd.Series(model.coef_, index=xtrain.columns).round(2)
coefs

Min.Price               7122.12
Price                 -15435.56
Max.Price               8867.50
MPG.city                   5.01
MPG.highway             -196.25
                         ...
Cylinders_6             -504.39
Cylinders_8             -893.37
Cylinders_rotary       -1141.73
Man.trans.avail_Yes     -165.29
Origin_non-USA           131.00
Length: 64, dtype: float64

In [63]:
coefs.sort_values(ascending=False).head(5)

Max.Price                8867.50
Min.Price                7122.12
Manufacturer_Plymouth     479.66
Manufacturer_BMW          404.83
Manufacturer_Geo          327.80
dtype: float64

# step 7 - Evaluate the model

In [64]:
# R2 score in train
r2_train = model.score(xtrain, ytrain)
print(r2_train)

0.9960137382218888

In [65]:
# R2 score in test
r2_test = model.score(xtest, ytest)
print(r2_test)

0.8703581386679461

In [66]:
# generalization error
gen_err = abs(r2_train - r2_test)
print(gen_err)

0.12565559955394268

In [71]:
from sklearn.metrics import (
    root_mean_squared_error,
    mean_absolute_error,
    mean_absolute_percentage_error,
    r2_score,
)


def evaluate_model(model, x, y):
    # predict the results
    ypred = model.predict(x)
    # Get the metrics
    rmse = root_mean_squared_error(y, ypred)
    mae = mean_absolute_error(y, ypred)
    mape = mean_absolute_percentage_error(y, ypred)
    r2 = r2_score(y, ypred)
    # print the results
    print(f"RMSE : {rmse:.2f}")
    print(f"MAE : {mae:.2f}")
    print(f"MAPE : {mape:.2%}")
    print(f"R2 : {r2:.2%}")

In [72]:
print(f"Training results : ")
evaluate_model(model, xtrain, ytrain)

Training results :
RMSE : 36.62
MAE : 24.38
MAPE : 0.84%
R2 : 99.60%

In [73]:
print(f"testing results : ")
evaluate_model(model, xtest, ytest)

testing results :
RMSE : 216.84
MAE : 175.60
MAPE : 5.42%
R2 : 87.04%

In [74]:
ypred_test = model.predict(xtest)
ypred_test[0:5]

array([2637.20122033, 3879.06895962, 3384.57157424, 3605.21495874,
       3705.20582955])

In [75]:
ytest.head()

23    2670
86    3785
91    2985
21    3570
17    3910
Name: Weight, dtype: int64

# R2 score > 80% for both train and test hence it is a good model and can be used for out of sample prediction
# Step 8 - Out of Sample prediction

In [77]:
xnew = pd.read_csv("sample.csv", na_values=["", "NA"], keep_default_na=False)
xnew

FileNotFoundError: [Errno 2] No such file or directory: 'sample.csv'